<div class="container">
  <table class="table table-bordered">
    <thead>
      @for (column of displayedColumns; track $index) {
        <tr>
          {{
            column
          }}
        </tr>
      }
    </thead>

    <tbody>
      @for (member of members; track $index) {
        @for (column of displayedColumns; track $index) {
          <td>
            {{ members[$index][column] }}
          </td>
        }
      }
    </tbody>
  </table>

  <!-- <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator> -->
</div>
