<div class="container">
  <form class="box" [formGroup]="group">
    <div class="field">
      <label class="label" for="contactName">聯絡人</label>
      <div class="control">
        <input
          type="text"
          name="contactName"
          class="input"
          id="contactName"
          formControlName="contactName"
          placeholder="聯絡人" />
      </div>
    </div>

    <div class="field">
      <div class="columns">
        <div class="column">
          <ng-select
            [items]="county.value()"
            bindValue="countyCode"
            bindLabel="countyName"
            placeholder="縣市"
            labelForId="county"
            formControlName="county"
            [searchable]="false"
            (change)="onCountyChange($event)"></ng-select>
        </div>

        <div class="column">
          <ng-select
            class="col-md-3"
            [items]="distinct?.value()"
            bindValue="id"
            bindLabel="distinctName"
            [searchable]="false"
            placeholder="鄉鎮"
            labelForId="distinct"
            formControlName="distinct"></ng-select>
        </div>

        <div class="column">
          <div class="control">
            <input
              type="text"
              name="address"
              class="input"
              formControlName="address"
              placeholder="地址" />
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="checkbox">
        <input type="checkbox" name="sameContact" />
        同聯絡人
      </label>
    </div>
    <div class="field">
      <label class="label" for="contactName">收貨人</label>
      <div class="control">
        <input
          type="text"
          name="contactName"
          class="input"
          class="form-control"
          placeholder="收貨人" />
      </div>
    </div>
    <div class="field">
      <div class="row">
        <ng-select
          [items]="county.value()"
          bindValue="countyCode"
          bindLabel="countyName"
          placeholder="縣市"
          labelForId="receiveCounty"
          formControlName="receiveCounty"
          [searchable]="false"
          (change)="onCountyChange($event)"></ng-select>
        <ng-select
          [items]="distinct?.value()"
          bindValue="id"
          bindLabel="distinctName"
          [searchable]="false"
          placeholder="鄉鎮"
          labelForId="receiveDistinct"
          formControlName="receiveDistinct"></ng-select>
        <div class="column">
          <div class="control">
            <input
              type="text"
              name="receiveAdress"
              class="input"
              formControlName="receiveAdress"
              placeholder="地址" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
