<div class="container">
  <form
    [formGroup]="group"
    *ngIf="group?.customValidateErrors | async as errors"
    (ngSubmit)="onSubmit()"
    #form="ngForm"
  >
    <div>
      {{ errors | json }}
    </div>
    <div class="form-group">
      <label for="memberName">Name</label>
      <input
        type="text"
        class="form-control"
        id="memberName"
        placeholder="name"
        formControlName="name"
      />
      <small class="text-danger" *ngIf="errors.name?.length > 0">
        {{ errors.name[0] }}
      </small>
    </div>
    <div class="form-group">
      <label for="memberEmail">Email</label>
      <input
        type="text"
        class="form-control"
        id="memberEmail"
        placeholder="Email"
        formControlName="email"
      />
      <small class="text-danger" *ngIf="errors.email?.length > 0">
        {{ errors.email[0] }}
      </small>
    </div>
    <div class="form-group">
      <label for="mobile">Mobile</label>
      <input
        type="text"
        class="form-control"
        id="mobile"
        placeholder="Mobile"
        formControlName="mobile"
        maxlength="10"
      />
      <small class="text-danger" *ngIf="errors.mobile?.length > 0">
        {{ errors.mobile[0] }}
      </small>
    </div>
    <div class="form-group">
      <label for="birthday">Birthday</label>
      <select
        class="form-control"
        id="birthdayYear"
        name="birthdayYear"
        formControlName="birthdayYear"
        #ctlYear
      >
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
      <select
        class="form-control"
        id="birthdayMonth"
        name="birthdayMonth"
        formControlName="birthdayMonth"
        #ctlMonth
        (change)="onMonthChange(ctlYear.value, ctlMonth.value)"
      >
        <option *ngFor="let month of months" [value]="month">{{ month }}</option>
      </select>
      <select
        class="form-control"
        id="birthdayDay"
        name="birthdayDay"
        formControlName="birthdayDay"
      >
        <option *ngFor="let day of days" [value]="day">{{ day }}</option>
      </select>
      <!-- <small class="text-danger" *ngIf="errors.birthday?.length > 0">
        {{ errors.birthday[0] }}
      </small> -->
    </div>
    <div class="form-group">
      <label for="account">Account</label>
      <input
        type="text"
        name="account"
        id="account"
        class="form-control"
        placeholder="Account"
        formControlName="account"
      />
      <small class="text-danger" *ngIf="errors.account?.length > 0">
        {{ errors.account[0] }}
      </small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      />
      <small class="text-danger" *ngIf="errors.password?.length > 0">
        {{ errors.password[0] }}
      </small>
    </div>
    <button class="btn" [ngClass]="getBtnCssClass(form)" [disabled]="!form.valid">
      Save
    </button>
  </form>
</div>
